body{
    text-align: center;
    background-color: #39475c;
}


form{
    /* position: absolute; */
    text-align: center;
    /* margin: auto; */
    /* width: 50%; */
    /* padding: 10%; */
    display: inline;
}
#fullname{
    color: rgb(197, 121, 21);
    size: 40px;
}