body{
    text-align: center;
    background-color: #000000;
    align-items: center;
    margin-top: 50px;
}

.input{
    border: none;
    border-radius: 5px;
    height: 25px;
    background-color: #474444;
    transition: opacity 0.15s;
    color: #dfd1d1;
    font-size: 20px;
}
.input:hover{
    opacity: 0.8;
}
.input:active{
    border: none;
}
.text{
    color: #dfd1d1;
    font-size: 20px;
}

.buttons{
    color: #cec6c6;
    background-color: #423f3f;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100px;cursor: pointer;
    transition: opacity 0.15s;
}
.buttons:hover{
    opacity: 0.8;
}
.buttons:active{

}

form{
    /* position: absolute; */
    /* text-align: center; */
    /* margin: auto; */
    /* width: 50%; */
    /* padding: 10%; */
    /* display: inline; */
}
#fullname{
    color: rgb(197, 121, 21);
    size: 40px;
}